@font-face {
    font-family: 'ElegantIcons';
    src:url('../fonts/ElegantIcons.eot');
    src:url('../fonts/ElegantIcons.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ElegantIcons.woff') format('woff'),
        url('../fonts/ElegantIcons.ttf') format('truetype'),
        url('../fonts/ElegantIcons.svg#ElegantIcons') format('svg');
    font-weight: normal;
    font-style: normal;
}
img{boder:0;}
.news_info a:hover{color:#404040}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
.icon{
    font-family: 'ElegantIcons';
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}
.icon1{ font-size:14px; line-height:35px;}
.icon2{ font-size:18px; line-height:35px;}
.icon3{ font-size:24px; line-height:24px;}
.icon4{ font-size:24px; line-height:24px;}
.icon5{ font-size:24px; line-height:40px; color:#c4c4c4;}
.icon6{ font-size:40px; line-height:54px; color:#c4c4c4;}

/*------首页样式------*/
body {
	background-color: #fff;
	min-width: 1000px;
	margin: 0;
	padding: 0;
}
a,body,div,dl,dt,dd,ul,ol,li,h2,h3,pre,form,fieldset,input,p,a,blockquote,th,table,td,tr,h1
	{
	font-family:  Arial,"微软雅黑", Helvetica, sans-serif !important;
	text-decoration: none;
	font-size: 14px;
	color: #615f5f;
	margin: 0;
	line-height:24px;
	
}
a{cursor:pointer;}

.a-btn{ color:#ff8400; font-size:14px;}
.a-btn1{ font-size:14px;  margin-left:25px;}
.f-l{ float:left; overflow:hidden;}
.f-r{ float:right;overflow:hidden;}
.f-r-active{float:right;overflow:hidden; border:1px solid #404040 !important;color:#404040 !important;}

.m-t-5{ margin-top:5px;}

.m-l-5{ margin-left:5px;}
.m-r-5{ margin-right:5px;}
.m-b-5{ margin-bottom:5px;}
.m-a-5{ margin:5px;}

.m-t-10{ margin-top:10px;}
.m-b-10{ margin-bottom:10px;}
.m-l-10{ margin-left:10px;}
.m-r-10{ margin-right:10px;}
.m-a-10{ margin:10px;}
.m-t-25{ margin-top:25px;}
.m-b-25{ margin-bottom:25px;}
.m-l-25{ margin-left:25px;}
.m-r-25{ margin-right:25px;}
.m-a-25{ margin:25px;}
.m-t{ margin-top:15px!important;}
.m-l{ margin-left:15px;}
.m-r{ margin-right:15px;}
.a_hover{color:#404040}
.m-b{ margin-bottom:15px;}
.m-a{ margin:15px;}
.t-c{ text-align:center;}
.t-l{ text-align:left;}
.t-r{ text-align:right;}
.w-sm{ width:100px;}
.w-md{ width:120px;}
.font12{ font-size:12px;}
.font14{ font-size:14px;}
.font16{ font-size:16px;}

.top{ height:35px; background-color:#f7f7f7; border-bottom:1px solid #e6e6e6;}
.top-info{ width:1000px; height:35px; margin:0 auto; line-height:35px; font-size:14px;}

.header{ width:1000px; margin:0 auto; height:105px; background-color:#fff;}
.logo{ width:253px; height:57px; padding-bottom:15px;}
.search{ width:480px; height:37px; float:left; margin-left:100px; margin-top:30px;}


.shop-chat{ width:125px; height:35px; line-height:35px;  background-color:#f7f7f7; border:1px solid #e8e7e7; margin-top:30px; line-height:35px; position:relative; float:right}
.shop-chat a{ line-height:35px; margin-left:10px;}
.shop_nom{ height:18px; line-height:18px; position:absolute;top:-8px; left:90px; background-color:#F00; color:#fff; padding-left:5px;padding-right:5px; font-size:12px;border-radius:6px; border-bottom-left-radius:0px; text-align:center }

.shop-chat-icon{ font-size:18px; color:#e43a47; line-height:35px;}


.menu ul{ margin-left:-40px; *margin-left:0px; list-style:none;height:35px; width:1000px; display:block; }
.menu ul li{ float:left; color:#fff; width:100px; text-align:center; line-height:35px; display:block}
.menu ul li a{ color:#fff; width:100px; height:35px; line-height:35px; display:block}


.main-info{ width:1000px; margin:0 auto;background-color:#fff;}
.product-type{ width:230px;  border:1px solid #e8e7e7;}
.product-type ul{ margin-left:-40px; *margin-left:0px; list-style:none;}
.product-type ul li{ width:230px; height:41px;*height:38px;  display:block;}
.product-type ul li a{ width:210px; height:39px;*height:36px;  display:block;line-height:38px; padding-left:20px; border-bottom:1px solid #e8e7e7; }
.product-type ul li a:hover{ box-shadow:0px 3px 3px #f1f1f1; width:208px; border-left:4px solid #ffc600;}

.type-more{  background-color:#f7f7f7; width:230px; height:24px; display:block; text-align:center;color:#e43a47; }
.banner{ width:720px; height:250px; padding:15px; border:1px solid #e8e7e7;}

.kuaijie{ width:500px; height:164px; border:1px solid #e8e7e7; border-left:none; border-top:none;}
.kuaijie ul{ margin-left:-40px; *margin-left:0px; list-style:none;}
.kuaijie ul li{ width:124px; height:81px; border-left:1px solid #e8e7e7; border-top:1px solid #e8e7e7;}
.kuaijie ul li a{ width:124px; height:70px; display:block; text-align:center; padding-top:15px;}


.gonggao{ width:233px; height:164px; float:left;  border:1px solid #e8e7e7;}
.gonggao-title{ width:50px; height:33px; line-height:33px; color:#fff; text-align:center; background-image:url(../images/gg-bg.jpg); margin-left:15px; font-weight:bold;}

.gonggao ul{margin-left:-25px; *margin-left:15px; list-style:none;}

.pingpai{ width:1000px; margin:0 auto;} 
.pingpai ul{ margin-left:-40px; *margin-left:0px; list-style:none;}
.pingpai ul li{ width:98px; height:35px; border:1px solid #e8e7e7; display:block; float:left; margin-right:12px; margin-top:15px;}
.pingpai ul li a{ width:98px; height:35px; display:block; text-align:center; line-height:33px; }

.pingpai-more{ width:98px; height:35px; display:block;border:1px solid #e8e7e7; display:block; float:left;margin-top:15px; text-align:center; line-height:35px; font-weight:bold}
.pingpai-more b{ line-height:35px; height:35px; width:60px; display:block; float:left; margin-left:8px;}




.product-info{ width:1001px; margin:0 auto; overflow:hidden; }
.product-title{ width:1000px; height:30px; margin-top:30px; overflow:hidden}



.product-info1{ }
.product-info ul{ margin-left:-40px; *margin-left:0px; list-style:none; display:block;width:1000px; height:522px; border-right:1px solid #e8e7e7; border-bottom:1px solid #e8e7e7;}
.product-info ul li{ width:199px; height:260px; display:block; border:1px solid #e8e7e7; float:left; border-right:none;  border-bottom:none}

.product-info ul li a img{ width:150px; height:150px; display:block; border:1px solid #e8e7e7; margin:0 auto; margin-top:17px;}
.pro-name{ width:180px; margin:0 auto; display:block; padding-top:10px; overflow:hidden;}
.price-0{ font-size:14px; color:#dc2d2d; margin-left:10px;}
.price-1{ font-size:18px; color:#dc2d2d; font-family:Arial, Helvetica, sans-serif;}

.pro-01{ width:399px;height:260px; display:block; float:left; border:1px solid #e8e7e7; border-right:none; border-bottom:none;}

.pro-01 a img{ width:217px; height:217px; display:block; border:1px solid #e8e7e7; margin-top:17px;  margin-left:17px; float:left;}
.pro-name1{ width:150px; margin:0 auto; display:block; padding-top:15px; overflow:hidden; float:left; font-size:14px; margin-left:10px;}


.diy-menu{ width:80%; margin-top:15px; height:30px;border-bottom:1px solid #e8e7e7 }
.diy-menu ul{ margin-left:-40px; *margin-left:0px; list-style:none;}
.diy-menu ul li{ float:left; width:100px; display:block; height:30px; }
.diy-menu ul li a{ width:100px; text-align:center; line-height:14px; border-right:1px dashed #acacac; height:14px; display:block;}
.footer-left{ width:700px; margin-top:10px; margin-bottom:10px;}
.footer-left span{ font-size:14px; line-height:18px;}

.rz{ width:460px; height:28px; padding-top:20px; }
.rz_0{ background-image:url(../images/RZ_1.png); height:28px; background-repeat:no-repeat; float:left; margin-right:20px;}
.rz_0:hover{ background-image:url(../images/RZ.png); }
.rz_1{ width:71px; background-position:0 0;}
.rz_2{ width:73px; background-position:-91px 0;}
.rz_3{ width:36px; background-position:-189px 0;}
.rz_4{ width:28px; background-position:-235px 0;}
.rz_5{ width:38px; background-position:-283px 0;}
.rz_6{ width:25px; background-position:-341px 0;}
.rz_7{ width:20px; background-position:-386px 0;}
.ewmW{width:84px; height:100px;float:right; overflow:hidden;}
.ewmC{width:84px; height:100px;float:right; overflow:hidden; margin-right:10px;}

/*------产品列表页样式------*/
.now{ width:1000px; height:35px; line-height:30px; }
.kuaijie1{ width:230px; height:327px; border:1px solid #e8e7e7; border-left:none; border-top:none;}
.kuaijie1 ul li{ width:114px;}
.main-info-l{ width:232px; }
.main-info-r{ width:745px; border:1px solid #e8e7e7;}
.main-info-title{ width:100%; border-bottom:1px solid #e8e7e7;  background-color:#f9f9f9; box-shadow:0px 1px 1px #f1f1f1; height:40px;  line-height:40px;}

.main-info-title b a{ line-height:14px;}
.main-info-title a{ margin-top:7px;}
.color-r{ color:#e43a47;}

.f-b{ font-weight:bold;}
.xiala{ border:1px solid #e8e7e7; height:23px;}

.xiansi{ padding-left:5px; padding-right:5px; color:#8e8e8e;}
.info-line{ line-height:30px; border-bottom:1px dotted #e5e5e5;}
.info-line1{ line-height:30px; border-bottom:1px solid #e5e5e5;}
.main-info-r ul{ margin-left:-40px; *margin-left:0px; list-style:none;}
.main-info-r ul li{border-bottom:1px dotted #e5e5e5; padding-bottom:5px; display:block; height:140px;}
.main-info-r ul li:hover{ background-color:#f9f9f9}
.goods-img{ width:140px; height:120px; margin:10px 10px; border:1px solid #f0eeee;}
.list_content {
  width: 240px;
  height: 122px;
  float: left;
  margin: 10px 10px;
  padding: 0px;
  float: left;
  text-align: left;
  overflow:hidden;
}
.list_content1 {
  width:102px;
  height: 122px;
  float: left;
  margin: 10px 10px;
  padding: 0px;
  text-align:left !important;
  overflow:hidden;
   margin-left:0px;
}
.item-amount {
  height: 35px;
  overflow: hidden;
  width:120px;
}

.text-amount {
  width: 66px;
  height: 15px;
  line-height: 15px;
  color: #343434;
  text-align: center;
  padding: 4px 0;
  background-color: #fff;
}
.J_Plus{
  border-left:none
  }
.J_Minus
{ 
  border-right:none
  }
.amount-j{ width: 15px;
  height: 15px;
  line-height: 15px;
  color: #343434;
  text-align: center;
  padding: 4px 0;
  background-color: #fff;}
.list_button {
  width: 170px;
  height: 122px;
  margin: 10px 10px;
  padding: 0px;
  text-align: left;
}

.btn-1{ height:25px; border-radius:3px; background-color:#ff8e32; color:#fff; font-size:12px; display:block; text-align:center; padding-left:5px;padding-right:5px; border:none;}
.btn-1:hover{ background-color:#ff4a00; color:#fff;}
.btn-2:hover{border:1px solid #ff8e32; color:#ff8e32}
.btn-2{height:25px; border-radius:3px; background-color:#fff;font-size:12px; display:block; text-align:center; border:1px solid #cdcdcd; padding-left:5px;padding-right:5px; }
.btn-3{ height:30px; font-size:14px; background-color:#ff8e32; color:#fff;border-radius:3px; border:none;padding-left:5px;padding-right:5px;}
.btn-3:hover{ background-color:#ff4a00; color:#fff;}
.pagelink{ width:900px; height:25px;display:block; clear:both; margin-bottom:15px; margin-top:15px;}
.btn-4{ padding-top:5px; padding-bottom:5px; font-size:14px !important;}
.btn-5{ height:25px; background-color:#f9f9f9; font-size:12px;text-align:center; padding-left:5px;padding-right:5px; border:1 px solid #e7e7e7;}



.btn-r{height:25px; border-radius:3px; background-color:#fff;font-size:12px; display:block; text-align:center; color:#e596b2; border:1px solid #e596b2; padding-left:5px;padding-right:5px; }
.btn-r:hover{background-color:#e596b2; color:#fff; }
.btn-g{height:25px; border-radius:3px; background-color:#fff;font-size:12px; display:block; text-align:center; color:#59bfa8; border:1px solid #59bfa8; padding-left:5px;padding-right:5px; }
.btn-g:hover{background-color:#59bfa8; color:#fff; }

.btn-r-2{height:30px; border-radius:3px; background-color:#fff;font-size:14px; display:block; text-align:center; color:#e596b2; border:1px solid #e596b2; padding-left:5px;padding-right:5px; }
.btn-r-2:hover{background-color:#e596b2; color:#fff; }
.btn-g-2{height:30px; border-radius:3px; background-color:#fff;font-size:14px; display:block; text-align:center; color:#59bfa8; border:1px solid #59bfa8; padding-left:5px;padding-right:5px; }
.btn-g-2:hover{background-color:#59bfa8; color:#fff; }

.pagelink_info{ width:650px; float:right;}
.pagelink a{ float:left; border:#e8e7e7 1px solid;height:25px;color:#666; margin-left:2px; text-align:center; line-height:23px; display:block;cursor:pointer;}

.pagenoed{ width:18px;}
.disabled{ width:65px;}
.pagecurren{border:#eeeeee 1px solid;background-color:#404040;color:#fff !important;}

/*------订单列表页样式------*/
.main-info-l1{ width:175px; }
.product-type1{ width:173px; border:1px solid #e8e7e7; }
.product-type1 ul{ margin-left:-40px; *margin-left:0px; list-style:none;}
.product-type1 ul li a{ width:153px; height:40px; font-size:12px; display:block; line-height:40px; padding-left:20px;}
.product-type1 ul li a:hover{ box-shadow:0px 3px 3px #f1f1f1; width:150px; border-left:4px solid #ffc600;}
.kuaijie2{ width:173px; height:48px; border:1px solid #e8e7e7; text-align:center; line-height:48px;}
.kuaijie2 a{ line-height:48px; width:173px; height:48px; display:block;}
.kuaijie2 a b{ line-height:32px;}

.main-info-r1{width:810px; border:1px solid #e8e7e7;}


.ordertd{ width:100%;}

.ordertd tr td{ border-bottom:1px solid #eee;text-align:left; padding-left:3px; padding-bottom:5px;}

.ordertd tbody tr td{ border-bottom:1px solid #eee;text-align:left; padding-left:3px; padding-bottom:5px;}
.ordertd tbody tr:hover {background-color:#f9f9f9}
.ordertd  tr:hover{ background-color:#f9f9f9}
.ordertd tr td{ border-bottom:1px solid #eee;text-align:left; padding-left:3px; padding-bottom:5px;}
.zhuangtai-1{ padding:2px; font-size:12px; background-color:#47bcf6; color:#fff;}
.zhuangtai-2{ padding:2px; font-size:12px; background-color:#e596b2; color:#fff;}
.zhuangtai-3{ padding:2px; font-size:12px; background-color:#6ed99e; color:#fff;}

/*------订单详情页样式------*/


.m-l-60{ margin-left:60px; line-height:35px; 
}
.goods-list{ width:950px; margin:0 auto;margin-top:10px; border:1px solid #daf3ff;}
.goods-list1{ width:950px; margin:0 auto; margin-top:10px; border:1px solid #daf3ff ;}
.goods-list2{ width:100%; margin:0 auto; border: none; border-bottom:none;}
.goods-list tr th{ font-weight:bold;text-align:left; padding-left:3px; background-color:#eaf8ff; line-height:30px;border-bottom:#daf3ff solid 1px;}
.goods-list tr td{ border-bottom:#daf3ff solid 1px;text-align:left;padding-left:3px;}
.goods-list tr:hover{ background-color:#f9f9f9}
.goods-list1 tr th{ font-weight:bold;text-align:left; padding-left:3px; background-color:#eaf8ff; line-height:30px;}
.goods-list tr td{ border-bottom:#daf3ff solid 1px;text-align:left;padding-left:3px; padding-top:5px; padding-bottom:5px;}

.goods-list thead tr td{ font-weight:bold;text-align:left; padding-left:3px; background-color:#eaf8ff; line-height:24px;border-bottom:#daf3ff solid 1px;}
.goods-list tbody tr td{ border-bottom:#daf3ff solid 1px;text-align:left;padding-left:3px;}
.goods-list tbody tr:hover{ background-color:#f9f9f9}
.liuyan{ width:950px; margin:0 auto; border-top:none; padding-bottom:15px;}

.liuyan-box{ width:940px; height:48px; margin:10px auto; display:block; }

/*------商品详情页样式------*/
.product-img{ width:430px; border-right:1px solid #e8e7e7;}
.product-img-info{ width:400px; margin:15px;}
.product-img-info ul{ margin-left:-40px; *margin-left:0px; list-style:none; display:block;}
.product-img-info ul li{ width:70px; height:60px; float:left; margin-left:5px;margin-right:5px; margin-bottom:10px;}
.product-img-info ul li a{width:70px; height:60px; display:block;border:2px solid #fff;}

.spec-control {
  display: block;
  width: 40px;
  height: 54px;
}

.product-data{ width:530px; padding:15px;}
.price-info{ width:510px; height:50px; background-color:#41a7da; color:#fff; padding:10px;}
.price-info-1{ font-size:30px;}
.price-info-1 p{ color:#fff; font-weight:normal;}
.product-data-1{ width:500px; padding:15px;}
.product-xiangguan{ width:230px;  border:1px solid #e8e7e7;}
.product-xiangguan ul{ margin-left:-40px; *margin-left:0px; list-style:none; display:block;}
.product-xiangguan ul li{ width:210px; height:80px; display:block; padding:5px;}
.main-info-son{ width:716px;}


.right_product_main {
  width: 100%;
  height: auto;
  margin-top: -2px;
  overflow: hidden;
  line-height: 25px;
  padding-top: 15px;
  padding-bottom: 20px;

  float: left;
}
.listr {
  float: right;
  width: 90%;
  clear: both;
  border-bottom: #e8e7e7 dotted 1px;
  margin-right: 20px;
}
.line94 {
  width: 94%;
  margin: 4px auto;
  clear: both;
  border-bottom: #e8e7e7 solid 1px;
}
.pay_right{ background-color: #eef9ff; text-align:right !important; border-bottom:1px solid #daf3ff;} 

/*购物车样式*/
.sub_shop{ width:100%; float:left; display:block;}
.sub_shop_info{ width:100%; margin-top:5px; overflow:hidden;}
.sub_shop_info_1{ width:100%; height:auto;font-size:14px; line-height:33px; height:33px; }
.sub_shop_info_1 dl{ width:100%; height:32px; float:left; display:block; }
.sub_shop_info_1 dl dt{ width:15%; height:100%; float:left; margin-right:5px;  display:block; text-align:center;}
.sub_shop_info_1 dl dt a{ background-color:#fff9f9; display:block; width:100%; height:100%;line-height:30px !important;border: #e8e7e7 solid 1px; border-bottom:none;  border-top-left-radius:5px; border-top-right-radius:5px; }
.sub_shop_info_1 dl dt a span{ line-height:30px }



.sub_shop_info_2 table tr th{ border:0px;height:30px; color:#333}
.sub_shop_info_2 table tr td{ border-top:#eee solid 1px;height:30px; text-align:left; padding:2px;}
.sub_shop_info_2 table tr td b{ font-size:14px; color:#e4393c!important;}
.sub_shop_info_3{ width:100%; height:45px;border-top:#eee solid 1px; background-color:#f8f8f8;}
.sub_shop_info_3  dl{  margin-right:35px;} 
.sub_shop_info_3  dl dt{ margin-top:10px;}
.shop_btn{ color:#FFF; border:none; padding:4px; padding-left:15px;padding-right:15px;border-radius:3px; margin-top:2px; margin-left:15px;cursor:pointer;}
.shop_btn1{background-color:#e4393c; background-image:url(../images/del.png); background-position:left center; background-repeat:no-repeat;}
.shop_btn2{background-color:#ff8a00;  }
.shop_btn3{background-color:#87c463; }



.Shopping_Cart_info ul{ list-style:none; margin-left:-30px;*margin-left:10px;}
.Shopping_Cart_info ul li{ height:25px; margin-top:10px; padding-bottom:3px; display:block; width:303px; border-bottom:#efefef 1px dashed; font-weight:normal;}
.Shopping_Cart_info ul li b{ float:left; line-height:25px; margin-right:5px; width:193px; overflow:hidden; font-weight:normal;}
.Shopping_Cart_info ul li input{ width: 73px; height: 19px; text-align: left; color: rgb(0, 0, 0); padding-left: 3px; font-family: 微软雅黑; font-size: 12px;}
.Shopping_Cart_btn{background-color:#999; color:#FFF; width:70px; height:25px; text-align:center;  float:left; margin-left:10px; margin-top:5px; line-height:25px; cursor:pointer;}
.Shopping_Cart_btn:hover{background-color:#ff8a00;}
.Shopping_Cart span{ width:19px; height:17px; background-image:url(../images/shop.png); margin:7px; display:block; float:left; margin-left:25px; margin-right:3px;}
.Shopping_Cart_info{ position:absolute; width:323px; border:#e8e7e7 1px solid;  right:-1px;top:34px; background-color:#fff; box-shadow:0px 0px 5px #e8e7e7;}
.Shopping_Cart_info1{ width:283px; height:100px;  }