@charset "utf-8";
/* CSS Document */

body { margin:0; padding:0; font-size:12px; font-family:Verdana, Arial, Helvetica, sans-serif; color:#333;}
h4{ font-size:14px;font-weight:bold; margin:0; padding:0; float:left; height:auto;}
h1{color:#FFFFFF;  padding-left:20px; line-height:30px; padding-top:10px; font-weight:bold; font-family:"幼圆",Verdana, Arial, Helvetica, sans-serif;}

a{text-decoration:none; color:#277DB7; font-family:Verdana, Arial, Helvetica, sans-serif; }
a:hover{text-decoration:underline; color:#cc0000; font-family:Verdana, Arial, Helvetica, sans-serif;}

a.buttonb{text-decoration:none; color:#277DB7;  border:#277DB7 solid 1px; padding:2px; }
a.buttonb:hover{text-decoration:none; color:#cc0000;  border:#cc0000 solid 1px; padding:2px;}

td,div,p{color:#333333; font-size:12px; line-height:180%; font-family:Verdana, Arial, Helvetica, sans-serif;}
input{border:#DDDEE0 solid 1px; height:20px; font-size:12px; line-height:150%; color:#333333; font-family:Verdana, Arial, Helvetica, sans-serif;}
textarea{border:#DDDEE0 solid 1px; height:auto; font-size:12px; line-height:150%; color:#333333; font-family:Verdana, Arial, Helvetica, sans-serif;}


.img{position: relative; top:3px; border:0;}
img{border:none;}
form{margin:0;}
.clearfloat{clear:both; height:1px; width:100%; border:none;}
.TitleNUM {font-family:Verdana, Arial, Helvetica, sans-serif; text-align:right;}
.TitleNUM2 {font-family:Verdana, "Times New Roman", Arial, Helvetica, sans-serif; }
.numberinput{ width:30px;font:12px Verdana, "Times New Roman", Times, serif; padding:2px; }
.numberinput1{ width:45px;font:12px Verdana, "Times New Roman", Times, serif; padding:2px; }
.numberinput2{ width:60px;font:12px Verdana, "Times New Roman", Times, serif; padding:2px; }
.font12{color:#333; font-weight:bold;}
.font12h{color:#333; font-weight:bold;}

/***  ***/

thead tr td{font-weight:bold; border-top:#CCCCCC solid 2px;}
.tbody tr td{ border-top:#CCCCCC solid 1px; }

.leftdiv{float:left; padding:0; }
.rightdiv{float:right; padding:0;}
.bodyline{width:980px; height:auto; margin:0 auto; clear:both;}
.lineblank{width:98%; height:10px; margin:0 auto; clear:both;}
.line2{width:950px; height:2px; border-top:#CCCCCC solid 2px; clear:both; margin:0 auto; margin-top:4px;}
.bline{width:950px; height:auto; clear:both; margin:0 auto; clear:both; }
.bottomlinebold{border-bottom:#CCCCCC solid 2px; font-weight:bold; height:32px;}
.bottomline td{border-bottom:#CCCCCC solid 1px; height:32px;}
.line{width:100%; clear:both; height:auto; }
.line95{width:95%; clear:both; height:auto; margin:4px auto;}
.line22{margin:2px 18px; clear:both; width:98%; height:auto;}
.bgw{background-color: #ffffff;}

.font14{	font-weight:bold;	font-size:14px;}

.inputstyle{font-size:14px;}

.inputstyle input{font-size:14px; height:22px; width:90%; padding:1px 2px;}
.inputstyle textarea{font-size:14px; width:90%; padding:1px 2px;}
.inputstyle select{font-size:14px; height:24px; width:90%;}

.checkbox input{margin:2px; width:15px; height:15px; border:0; top:2px; }

#menu2 ul{margin:0; padding:0; float:left;}
#menu2 li{float:left; width:90px; height:32px; font-weight:bold; font-size:14px; color:#000000; list-style-type:none; list-style:none; text-align:center; line-height:32px; background:url(../img/menu2_bg.jpg);}
#menu2 li a{text-decoration:none; color:#333; display:block; font-weight:bold; font-size:12px; font-family:"幼圆",Verdana, Arial, Helvetica, sans-serif;}
#menu2 li a:hover{background:url(../img/menu2_gray_bg.jpg); background-color:#ccc; color:#277DB7; text-decoration:none; font-family:"幼圆",Verdana, Arial, Helvetica, sans-serif;}
#menu2 .current2{background:url(../img/menu2_blue_bg.jpg); color:#fff; text-decoration:none; font-size:12px; font-family:"幼圆",Verdana, Arial, Helvetica, sans-serif;}

#bodycontent{width:978px; min-height:300px; height:auto !important; margin:0 auto; border-left:#dadada solid 0px; border-right:#dadada solid 0px; text-align:left; clear:both; background-color:#FFFFFF; }

#copyright{width:960px; height:30px; margin:0 auto; clear:both; font-size:11px; font-family:Verdana, Arial, Helvetica, sans-serif; text-align:right; color:#999999; margin-top:15px;}

#searchline{width:950px; height:34px; line-height:28px; margin:0 auto; border:#CCCCCC solid 1px; background-image:url(../img/line_bg.jpg); clear:both;}

.line_bottom{width:98%; margin:0 auto; border-bottom:#CCCCCC solid 1px;clear:both;}
.line_right{width:90%; margin:4px; padding:4px; margin-right:20px; border-bottom:#eeeeee solid 1px; clear:both; float:right; text-align:left;}

.sublink ul{float:left; list-style:none; margin:0; padding:0;}
.sublink ul li{background: #efefef; border:#cccccc 1px solid; background-image:url(../img/b_bg1.jpg); color: #fff; font-size: 12px; padding:1px; height:20px; line-height:20px; float:left; width:65px; margin:0 4px; text-align:center;}
.sublink ul li a{text-decoration:none; color:#fff; display:block;  font-size:12px; background-image:url(../img/b_bg1.jpg);}
.sublink ul li a:hover{text-decoration:none; color:#fff; display:block;  font-size:12px; background-image:url(../img/b_bg2.jpg);}


#sortleft{width:180px; height:auto; line-height:25px; margin:0; border-right:#CCCCCC solid 1px; float:left; clear:left; }
#sortright{width:760px; height:auto; line-height:25px; margin:0;  float:right; clear:right; }

#ConfirmForm{ padding:20px; line-height:200%; font-size:14px; display:none;}
#ConfirmForm ul{list-style:none; margin:4px auto;}
#ConfirmForm ul li{background: #efefef; border:#cccccc 1px solid; background-image:url(../img/button_bg.jpg); color: #333; font-size: 12px; padding:1px; height:20px; line-height:20px; width:80px; float:left; margin:0 4px; text-align:center; list-style:none;}
#ConfirmForm ul li a{text-decoration:none; color:#333; display:block;  font-size:12px; background-image:url(../img/button_bg.jpg);}
#ConfirmForm ul li a:hover{text-decoration:none; color:#333; display:block;  font-size:12px; background-image:url(../img/menu_over_bg.jpg);}

.fieldsetstyle{clear:both; width:96%; margin:0 auto; padding:4px; margin:4px;}
.fieldsetstyle legend{font-weight:bold; color:#666666;}
.warning{color:  #CC0000;  background-color:#FFFFCC;	padding: 10px;	border: 0.2em solid #CC0000;font-size:14px;	line-height:180%;margin: 100px auto 0 auto;	width: 80%;}
.red{color:#cc0000;}

.leftlist{float:left; padding:2px; float:left; width:100%;}
.leftlist ul{margin:2px; padding:0; float:left; margin-left:8px; width:100%;}
.leftlist li{margin:0; padding:0; width:100%; clear:both;}
.leftlist .locationli{background:#277DB7; color:#ffffff; padding:2px;}

/********bottom*******************/

.redbtn:hover {
    background: red;
}

.redbtn {
    background: #FF6240;
    color: #FFF;
    font-weight: bold;
    font-size: 12px;
    padding: .2em .5em !important;
    padding: .1em .2em;
    cursor: pointer;
	height:24px;
}

.mainbtn {
    background: #efefef;
    border:#cccccc 1px solid;
	background-image:url(../img/button_bg.jpg);
    color: #333;
    font-size: 12px;
    padding: .2em .5em !important;
    padding: .1em .2em;
	cursor: pointer;
	margin:2px;
	height:24px;
	font-weight:bold;
}

.mainbtn:hover {
    background: #cccccc;
	background-image:url(../img/menu_over_bg.jpg);
	height:24px;
}
.bluebtn:hover {
    background: blue;
}

.bluebtn {
    background: #3366CC; color: #FFF; font-weight: bold; font-size: 12px;  padding: .2em .5em !important; padding: .1em .2em; cursor: pointer; height:24px;
}

.darkbtn {
    background: #666666; color: #FFF;font-weight: bold; font-size: 12px; padding: .2em .5em !important; padding: .1em .2em; cursor: pointer; height:24px;
}
.inputline{ line-height:20px; height:20px; margin:4px;}
.liline{width:100%;white-space:nowrap; text-overflow:ellipsis;overflow: hidden; list-style:none; margin:0;} 
.width300{width:300px;}
.border_line{border:#cccccc solid 1px;  background-color: #ffffff; margin:4px; padding:4px; width:95%; margin:0 auto; overflow:hidden; height:auto;}
.border_line0{padding:4px; width:95%; margin:0 auto; overflow:hidden; height:auto;}

.numberbg{background-color: #FF6600; color:#ffffff; padding: 0 2px; margin:4px; font-weight:bold; font-size:11px;}

.warning{text-align:center; background:#FFFDE3; color:#CF682F; border:#CF682F solid 1px; margin:10px auto; padding:5px; border-left:none; border-right:none; width:95%;}
.warning a{color:#CF682F; text-decoration:underline;}

.listtemplate{width:100%; height:auto; clear:both;}
.listtemplate div{width:200px; height:200px; float:left; padding:4px; margin:8px; overflow:hidden;}
.listtemplate div a{text-align:center;}

/*****loadwindow****************/
#windowForm{ display:none; width:500px; height:auto;}
.windowHeader{height:32px; clear:both;  width:100%; background-color:#003366; color:#FFFFFF; margin:0;}
.windowHeader h3{width:200px; float:left; text-align:left; margin:0; line-height:32px; padding-left:4px;}
.windowClose{float:right; height:42px; width:42px;}
#windowContent{min-height:100px; height:auto !important; clear:both;}
.close-form{background:#003366; color:#fff; width:18px; height:18px; margin:6px; text-align:center; line-height:18px; float:right; font-size:14px; font-weight:bold; cursor:pointer; clear:both; border:#eeeeee solid 1px;}

.growlUI { background: url(../img/check48.png) no-repeat 10px 10px;  }
.growlUI h1, div.growlUI h2 {
	color: white; padding: 15px 5px 5px 75px; text-align: left; font-size:16px;
}

#tip{position:fixed !important; position:absolute; -moz-opacity:0.5;opacity: 0.5;filter:alpha(opacity=50); right:5px; top:5px; width:280px; height:58px; font-weight:bold; color:#ffffff; text-align:left; padding:8px 20px; background:#333333; line-height:28px; clear:both;z-index:999; display:none; overflow:hidden;}

