<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$_SESSION['ucc']['CompanyName']} - {SITE_NAME}</title>
<meta name='robots' content='noindex,nofollow' />
<link rel="shortcut icon" href="/favicon.ico" />
<link href="template/red/css/showpage.css" rel="stylesheet" type="text/css">
<link href="template/red/css/base.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="template/js/wm-zoom/jquery.wm-zoom-1.0.min.css">

<script src="template/js/jquery.js" type="text/javascript"></script>
<script src="template/js/jquery.blockUI.js" type="text/javascript"></script>
<script src="template/js/function.js?v={VERID}" type="text/javascript"></script>
<script src="template/js/cart.js?v={VERID}" type="text/javascript"></script>
<script type="text/javascript" src="template/js/wm-zoom/jquery.wm-zoom-1.0.min.js"></script>
<style>
	#windowForm{
		display:none;
		height:auto;
		width:540px;
	}
	.altimg {
	    display: none;
	    height: 120px;
	    overflow: hidden;
	    padding-top: 25px;
	    position: absolute;
	    text-align: left;
	    width: 160px;
	    z-index: 998;
	}
	.ddclear{
		clear:both;
		margin-left: 8px;
	}
	
	.list_content dl dd span{
		display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
	}
textarea,select,input{-webkit-appearance: none; -moz-appearance: none; -o-appearance: none; appearance: none;}
</style>
<script type="text/javascript">
	$(document).ready(function(){
		$('.my-zoom-1').WMZoom();
	});
</script>
</head>
<body>
	{template header}
	<div class="main-info">
		<div class="now">当前位置：
			<a href="home.php"> 首页 </a> / 
			<a href="list.php"> 商品中心 </a>
			<!--{loop $location $lkey $lvar}-->
				 / <a href="list.php?s={$lvar['SiteID']}&t={$in[t]}">{$lvar['SiteName']}</a>
			<!--{/loop}-->
		</div>
	    <div class="main-info-l1 f-l">
	
		<div class="product-type">
	        <div class="main-info-title">
	        	<b>所有分类</b>
	        </div>
	   		{template unicom+leftMenu}
	    </div>
	    
	    <div class="kuaijie kuaijie1 m-t">
	    	{template unicom+kuaijie}
	    </div>
	    </div>
	    <div class="main-info-r f-r m-l">
	    	<form name="changetypeform" id="changetypeform" action="list.php" method="get">
		    	<div class="main-info-title">
		        	<b>商品列表</b>
		        	<!--{eval $prepage  = $goodslist['curpage'] > 1 ? $goodslist['curpage']-1 : 1}-->
		        	<!--{eval $nextpage = $goodslist['curpage'] < $goodslist['totalpage'] ? $goodslist['curpage']+1 : $goodslist['totalpage']}-->
		            <a class="f-r m-r icon5" href="<!--{if $goodslist['nextpage']}-->$goodslist['nextpage']<!--{else}-->javascript:;<!--{/if}-->"><span class="icon ">&#xe046;</span></a> 
		            <a class="f-r icon5" href="<!--{if $goodslist['prepage']}-->$goodslist['prepage']<!--{else}-->javascript:;<!--{/if}-->"><span class="icon ">&#xe045;</span></a>
		            <span class="f-r m-r">
			            <strong class="color-r m-l"><!--{if $in['page']}-->{$in['page']}<!--{else}-->1<!--{/if}--></strong >/{$goodslist['totalpage']}
		            </span>
		            <select name="ps" id="ps" onchange="javascript:submit()" class=" f-r xiala m-t-5" style="margin-top:6px;height: 25px;line-height: 25px;">
		                <optgroup label="- 每页显示 -">
		                    <option value="18" <!--{if $in[ps] == "18"}-->selected="selected"<!--{/if}-->>18条</option>
		                    <option value="30" <!--{if $in[ps] == "30"}-->selected="selected"<!--{/if}-->>30条</option>
		                    <option value="50" <!--{if $in[ps] == "50"}-->selected="selected"<!--{/if}-->>50条</option>
		                </optgroup>
					</select>
					
		            <select id="o" name="o" onchange="javascript:submit()" class="f-r xiala m-r m-t-5" style="margin-top:6px;padding-left: 8px;padding-right: -10px;margin-left: 12px;height: 25px;line-height: 25px;">
		                <optgroup label="- 排序条件 -">
							<option value="0" <!--{if $in[o] == "0"}-->selected="selected"<!--{/if}-->>默认排序</option>
		                    <option value="4" <!--{if $in[o] == "4"}-->selected="selected"<!--{/if}-->>商品人气</option>
		                    <option value="1" <!--{if $in[o] == "1"}-->selected="selected"<!--{/if}-->>价格降序</option>
		                    <option value="2" <!--{if $in[o] == "2"}-->selected="selected"<!--{/if}-->>价格升序</option>
		                    <option value="3" <!--{if $in[o] == "3"}-->selected="selected"<!--{/if}-->>上架时间</option>
		                </optgroup>
					</select>

					<span style="float: right;margin-left: -15px;">有库存</span>
					<input class="f-r xiala m-r m-t-5"  size="80" type="radio" name="stock" <!--{if empty($in['stock'])}-->  value='0' checked='checked' placeholder="First name" style="width: 20px;height: 20px;border: 1px solid #f9f9f9;margin-top: 13px;background: url(template/tpl/unicom/hcheck.png) no-repeat;cursor:pointer;" <!--{else}--> value='1' style="width: 20px;height: 20px;border: 1px solid #f9f9f9;margin-top: 13px;float:right;background: url(template/tpl/unicom/oracheck.png) no-repeat;cursor:pointer;"<!--{/if}--> onclick="javascript:(this.value==1) ? this.value=0 : this.value=1 ;submit();">

					<!--{if $in['t'] == "textlist"}-->
						<a class="m-r xiala xiansi f-r-active "><span class="icon ">&#xe056;</span> 无图</a> 
			            <a class="f-r xiala xiansi" href="javascript:change_show_type('imglist')"><span class="icon " >&#xe08c;</span> 有图</a>
		            <!--{else}-->
		            	<a class="f-r m-r xiala xiansi" href="javascript:change_show_type('textlist')"><span class="icon ">&#xe056;</span> 无图</a> 
			            <a class="xiala xiansi f-r-active "><span class="icon " style="color: #F3990F">&#xe08c;</span> 有图</a>
		            <!--{/if}-->
					
									
					<input type="submit" value="GO" style="display:none" />
					<input type="hidden" name="t" id="t" value="{$in['t']}" />
					<input type="hidden" name="s" id="s" value="{$in['s']}" />
					<input type="hidden" name="b" id="b" value="{$in['b']}" />
					
		        </div>
	        </form>
	        
			<br />
	    	{template unicom+content_list_inc}
	        <div class="pagelink">
	        	<div class="pagelink_info">
		 			{$goodslist[showpage]}
		 		</div>
	        </div>
	    </div>     
	    <div  style=" clear:both"></div>
	</div>
	
	<!-- 尾部 Start -->
		{template bottom}
	<!-- 尾部 End -->
</body>
</html>
<script>
//控制二级菜单框的高度



$(function(){
    if(parseInt($(".menuAdd").height())<"474" || parseInt($(".menuAdd").height()) =="474"){
        $(".menuAdd").css("height","474px");
    }
});
</script>
