<form id="formloadcart" name="formloadcart" method="post" action="cart.php?m=updatecart">
<!--{if empty($_SESSION['cartitems'])}-->

		<div class="font14" align="center"><br />您还没有预订任何商品！</div>

<!--{else}-->

	<!--{if !empty($carttempproduct)}-->
		<ul>
		<!--{loop $carttempproduct $cartkey $cartvar}-->
		<!--{if $cartkey < 12}-->
		<li title="{$cartvar[Coding]} - {$cartvar[Name]} ({$cartvar[color]}/{$cartvar[spec]}) - ¥ {$cartvar[price_end]}">
			<b class=" f-l" style="white-space:nowrap;overflow:hidden;"><a href="content.php?id={$cartvar[id]}" target="_blank">{$cartvar[Name]}</a></b>
			<input name="kid[]" type="hidden" value="{$cartvar[kid]}" />
			<input name="cart_num[]" id="cart_num_{$cartvar[kid]}" type="text" size="6" maxlength="6" value="{$cartvar[number]}" onkeyup="value=value.replace(/[^\d.]/g,'')" onfocus="this.select();" class=" f-l xiala" onBlur="checkcartnumber('cart_num_{$cartvar[kid]}','{$cartvar[package]}');update_load_cart('update');"  />
			<span class="icon icon2 color-r f-r" style="cursor:pointer;" onclick="remove_load_cart('{$cartvar[kid]}');">&#x4d;</span>
		</li>
		<!--{/if}-->
		<!--{/loop}-->
		<!--{if $cartkey >= 12}--><li><a href="cart.php">查看更多>></a></li><!--{/if}-->
		</ul>
		<div class="Shopping_Cart_info1 m-l">
			<div class=" font14" style="clear:both;">共 <b>{$productnum}</b> 件商品</div>
			<div class=" font14">合计金额<b class=" color-r ">￥{$producttotal}</b>元</div>
		    <div class=" btn-1 f-l m-t-5" style="cursor:pointer;" onclick="update_load_cart('sub');">去购物车结算</div>    
		</div>
	<!--{/if}-->

<!--{/if}-->
</form>