<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>如何发起退货申请</title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        html{
            width: 100%;
            height: 100%;
        }
        body{
            width: 100%;
            height:100%;
            font-family:Verdana, Arial, Helvetica, sans-serif;
        }

        p{display:block; width: 100%;font-size: 50px;font-weight:bold;color: #fff;text-align: center}
        .pic{
           width: 102%;
           margin:3% auto;overflow: hidden;}

    </style>
    <link rel="stylesheet" href="../../css/jquery.pagination.css"/>
</head>
<body>

    <div class="logo">
        <img src="../../img/proo2.jpg" style="width: 100%;" alt=""/>
    </div>

<div class="help_content" style="width: 70%;height: 310%;margin:2% auto">
    <img class="pic" src="../../img/return1.png" alt=""/>
    <img class="pic" src="../../img/return2.png" alt=""/>
    <img class="pic" src="../../img/return3.png" alt=""/>
    <img class="pic" src="../../img/return4.png" alt=""/>
    <img class="pic" src="../../img/return5.png" alt=""/>
    <img class="pic" src="../../img/return6.png" alt=""/>
</div>
</body>
</html>


</html>













