<!-- 意见反馈 -->
<div class="page-feedback" data-ng-controller="feedBackController">
    <!-- 标题 -->
    <header class="common">
        <em data-back><a href="javascript:;" class="arrow-left"></a></em>
        <p>意见反馈</p>
        <!-- <span data-start-scanner class="scanner"></span> -->
    </header>
    <div class="type my-menu">
        <h4 class="title-h4">类型</h4>
        <ul>
            <li>
                <a href="javascript:;" data-ng-click="feedBack.setFeedType('功能建议');">
                    <span></span>
                    <span>功能建议</span>
                    <span class="arrow-right"></span>
                </a>
            </li>
            <li>
                <a href="javascript:;" data-ng-click="feedBack.setFeedType('用户体验');">
                    <span></span>
                    <span>用户体验</span>
                    <span class="arrow-right"></span>
                </a>
            </li>
            <li>
                <a href="javascript:;" data-ng-click="feedBack.setFeedType('设觉设计');">
                    <span></span>
                    <span>设觉设计</span>
                    <span class="arrow-right"></span>
                </a>
            </li>
            <li style="border-bottom: none;">
                <a href="javascript:;" data-ng-click="feedBack.setFeedType('系统BUG');">
                    <span></span>
                    <span>系统BUG</span>
                    <span class="arrow-right"></span>
                </a>
            </li>
            <div style="height:2rem;background: #F9F9F9;box-shadow: inset 0rem 0rem .3rem #ddd;"></div>
            <li style="border-bottom: none;box-shadow: inset 0rem 0rem .3rem #ddd;">
                <a href="javascript:;" data-ng-click="feedBack.setFeedType('其他意见');">
                    <span></span>
                    <span>其他意见</span>
                    <span class="arrow-right"></span>
                </a>
            </li>
        </ul>
    </div>
        
    <div class="layer feedback-layer animated default-apk">
        <h4>{{feedBack.feedType}}</h4>
        <div class="iscroll" style="background:#FFFFFF;bottom:5rem;">
            <h4 class="title-h4" style="margin-top: 0;">描述</h4>
            <textarea placeholder="请输入你要填写的信息" ng-model="feedBack.content"></textarea>
            <h4 class="title-h4" ng-model="feedBack.contact" style="margin-top: 0;">联系方式</h4>
            <input ng-model="feedBack.contact" type="text" placeholder="请输入手机或座机号码" />
        </div>
        <!-- 关闭按钮 -->
        <div class="layer-footer">
            <p ng-click="feedBack.closeLayer();"><span class="arrow-left"></span></p>
            <div>
                <button ng-click="feedBack.saveFeedBack();" style="padding:0 3%;border-radius:1.2rem;float:right;" data-toggle data-selector="div.add-addr">保存</button>
            </div>
        </div>
    </div>
</div>
        
