<!-- 发现 -->
<div data-ng-controller="findController">
    <div class="page-find page-index page-order-confirm">
        <!-- 标题 -->
        <header class="common">
            <em data-back><a href="javascript:;" class="arrow-left"></a></em>
            <p>客服</p>
            <span ng-show="showScanner" data-start-scanner class="scanner"></span>
        </header>
        <div class="my-menu">
            <div class="pic-menu">
                <ul>
                    <li data-toggle data-selector="div.my-info"  ng-click="getContactTools();">
                        <p class="icon icon-clipboard"></p>
                        <p>在线客服</p>
                    </li>
                    <li ng-click="changePath('/forum');">
                        <p class="icon icon-users"></p>
                        <p>留言咨询</p>
                    </li>
                </ul>
            </div>
            <ul>
                <div class="divider"></div>
                <li>
                    <a href="javascript:;" data-ng-click="changePath('/info/0')">
                        <span class="icon icon-chat-3"></span>
                        <span>&nbsp;&nbsp;信息公告</span>
                        <span class="arrow-right"></span>
                    </a>
                </li>
                <div class="divider"></div>
                <li ng-show="false" -ng-show="showScanner" data-start-scanner>
                    <a href="javascript:;" class="find-scanner">
                        <span class="scanner l" style="width:1em;"></span>
                        <span class="find-scanner">&nbsp;&nbsp;&nbsp;扫一扫</span>
                        <span class="arrow-right"></span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="my-info info-layer pay-type animated fadeIn">
            <div>
                <h4>在线工具</h4>
                <ul>
                    <li ng-repeat="tool in contacts.tools">{{tool.ToolName + ' (' + tool.ToolType+')'}}<a href="javascript:;" class="r">{{tool.ToolNO}}</a></li>
                </ul>
                <h4>联系方式</h4>
                <ul>
                    <li ng-repeat="contact in contacts.contact">{{contact.ContactName}}<a href="javascript:;" ng-href="{{contact.tellPhone}}" class="r">{{contact.ContactValue}}</a></li>
                </ul>
                <button class="btn" data-toggle data-selector="div.my-info">关闭</button>
            </div>
        </div>
    </div>
    <div data-ui-view></div>
</div>
