<style>
	#telplayer{
		width: 376px;

		border-radius: 8px;
		
		margin: 0 auto;
		padding-top: 0.1px;
		
		background: #f1f1f1;
		display: none;
	}
	.telplayer_title{
		width: 100%;
		text-align: center;
		color: #05a057;
		font-size: 18px;
		
		font-weight: bold;
		margin-top: 24px;
		margin-bottom: 20px;
	}
	#telplayer>input{
		display: block;
		padding: 0;
		color: #666;
		font-size: 18px;
		
		outline: none;
		
		border: 1px solid #e2e2e2;
		width: 305px;
		height: 34px;
		line-height: 34px;
		text-indent: 10px;
		
		margin: 0 auto;
	}
	#telplayer>a{
		text-decoration: none;
		display: block;
		height: 36px;
		line-height: 36px;
		width: 305px;
		text-align: center;
		
		color: #fff;
		font-size: 18px;
		
		margin: 0 auto;
		margin-top: 30PX;
		
		background: #05A057;
		
	}
</style>
<div id="telplayer">
	<p class="telplayer_title">为保证账户安全，请确认手机号</p>
	<i class="iconfont icon-weibiaoti101 close"></i>
	<input type="text" />
	<a href="">确认</a>
</div>
<script type="text/javascript">
	$(".close").click(function(){
		layer.closeAll();
	})
</script>
