@charset "utf-8";
/* CSS Document */

#header{width:980px; margin:0 auto; height:107px; clear:both;}
#logo{float:left; margin:8px; width:400px; height:90px; overflow:hidden; margin-top:12px;}
#userinfo{width:520px; height:40px; float:right; margin-top:30px; overflow:hidden; background-color:#000000; background-image:url(../img/center_t_1.jpg); border:0;}
.leftdiv{float:left; }
.rightdiv{float:right; }

.spanleft{float:left; }
.spanright{float:right; }

.centerdiv{ float:left; width:auto; height:auto; }
.centerdiv p{ padding:0; line-height:40px; padding-left:4px; margin:0; width:450px; overflow:hidden; text-align:right;}

thead td{font-weight:bold; border-bottom:#CCCCCC solid 1px; padding:2px;}
tbody td{padding:2px; border-bottom:#CCCCCC solid 1px; line-height:24px;}
tbody td select{width:60px;}
#menu{width:980px; height:42px; margin:0 auto; margin-top:10px; overflow:hidden; background-color:#000000; background-image:url(../img/center_t_2.jpg); border:0; clear:both;}

#menu ul{list-sytyle:none; margin:0; padding:0; float:left; width:950px; overflow:hidden;}
#menu ul li{ background-image:url(../img/center_t_3.jpg); list-style:none; margin:0; padding:0; float:left; overflow:hidden; width:86px; height:42px; line-height:42px; text-align:center;}
#menu ul li a{color:#494949; font-weight:bold; font-size:14px; }
#menu ul li a:hover{color:#ff6600; font-weight:bold; font-size:14px; text-decoration: none; }
#menu span{float:left;}

#contentbody{width:980px;  margin:8px auto; min-height:400px; height:auto !important; height:400px; overflow:visible; clear:both;}
#contentleft{float:left; width:242px; height:auto; overflow:hidden;}
#contentright{float:right; width:728px; height:auto; overflow:hidden;}

#location{ width:98%; margin:4px; clear:both; float:left; line-height:25px; height:25px;}

#gg_div{width:727px; margin:4px 0; clear:both; float:left;  height:66px; background-image:url(../img/gg_2.jpg); }

.linecarttext p{color:#ffffff; font-weight:bold; text-align:center;}
.cartimg{float:left; width:49px; height:49px; background-image:url(../img/little_cart.jpg); margin-left:18px; margin-top:8px; cursor:pointer;}
#cartnumber{ font-weight:bold; color:#ffffff; margin:8px 0 0 26px; width:18px; height:18px; text-align:center; font-family: Georgia, "Times New Roman", Times, serif;}
#cartnumber_2{
	color:#FF6600;	font-weight:bold;	font-size:12px;	font-family: Georgia, "Times New Roman", Times, serif;}

.carttext{float:left; width:150px; height:60px; text-align:center; margin-top:8px;}
.carttext div{clear:both; width:96%; height:30px; font-weight:bold; color:#ffffff;}

.bg639029{ background-color:#639029; width:241px;}
.margin_top{margin-top:8px;}

.search_ism{clear:both; height:20px; margin:0 auto; width:90%; color:#ffffff; line-height:20px;}
.search_line{ margin:0 auto; width:220px; height:68px; overflow:hidden; clear:both; line-height:40px;  padding-top:4px !important; padding-top:10px;}
.sort_line{width:241px; background-image:url(../img/sort_line_bg.jpg); height:auto; clear:both;  }
.sort_line dt{clear:both; background-image:url(../img/sort_line_bg.jpg); line-height:28px; height:28px; width:241px; margin:0; float:left; overflow:hidden;}
.sort_line dt a{ padding-left:20px; font-weight:bold; color:#494949;}
.sort_line dd{clear:both; background-image:url(../img/sort_line_bg.jpg); line-height:28px; height:28px; width:241px; margin:0; float:left; overflow:hidden;}
.sort_line dd a{ padding-left:40px;}

.sort_line li{width:40%; padding:2px 10px; height:20px; float:left;}

.sort_title{width:241px; height:42px; background-image:url(../img/sort_title.jpg); font-weight:bold; padding-left:50px; line-height:45px;}

.list_title{width:727px; height:40px; background-image:url(../img/list_title_1.jpg); font-weight:bold; overflow:hidden; line-height:42px;}
.list_title h3{font-size:16px;height:38px;float:left; margin-left:50px !important; margin-left:28px; margin-top:2px; text-align:left;}
.list_title2{width:100%; height:40px; background-image:url(../img/coner_top_bg.jpg); font-weight:bold; }
.list_line2{width:978px; min-height:300px; height:auto; background-color:#FFFFFF; border-left:#e7e3dd solid 1px; border-right:#e7e3dd solid 1px; margin:0;}
.list_line2 table{clear:both;}

.list_line{width:725px; min-height:300px; height:auto; background-color:#FFFFFF; border-left:#e7e3dd solid 1px; border-right:#e7e3dd solid 1px; margin:0; }
.list_line table{clear:both;}
.list_line ul{ list-style:none; margin:0; padding:0;}
.list_line ul li{ list-style:none; list-style-type:none; padding:0; border-bottom:#CCCCCC solid 1px; clear:both; width:96%; margin:0 auto; height:132px; overflow:hidden;}
.list_img{ width:180px; height:120px; overflow:hidden; margin:2px; padding:2px; float:left; text-align:center; overflow:hidden;}
.list_img a{text-align:center; margin:0 auto;}
.list_content{ width:280px; height:120px; float:left; margin:4px 10px; padding:4px; float:left; text-align:left;}
.list_content dt{font-weight:bold; font-size:14px; clear:both; height:auto; line-height:22px; overflow:hidden; float:left; text-align:left; width:100%; margin:0; padding:0;}
.list_content dd{clear:both; height:22px; line-height:22px; float:left; text-align:left; width:100%; margin:0; padding:0;}
.list_content dd div{float:left; width:48%;}

.list_line span{line-height:200%;}
.list_line div{line-height:180%;}
.ordertd tbody tr td{vertical-align:top;}

.list_button{ width:160px; height:120px; float:right; margin:4px 0; padding:4px; float:left; text-align:left;}
.list_button dt{clear:both; height:24px; line-height:24px; float:left; text-align:left; width:100%; margin:2px; padding:0; font-weight:bold;}
.list_button dd{clear:both; height:24px; line-height:24px; float:left; text-align:left; width:100%; margin:2px; padding:0; }
.list_button select{width:68px;}
dd select{width:80px;}
.selectwidth50{width:50px;}
.list_showpage{width:98%; float:left; height:28px; clear:both; text-align:right; margin-top:8px;}

.list_home{width:725px;  height:auto; background-color:#FFFFFF; border-left:#e7e3dd solid 1px; border-right:#e7e3dd solid 1px; margin:0;}
.list_home ul{ list-style:none; margin:1px auto; padding:0; width:100%; width:98%!important; float:right;}
.list_home ul li{ list-style:none; list-style-type:none; padding:0;  width:152px;  width:160px!important; margin:6px; height:200px; overflow:hidden; float:left; text-align:center;}
.list_img_home{width:150px; height:120px; overflow:hidden; margin:2px auto; text-align:center;}
.list_name_home{width:150px; height:44px; overflow:hidden; line-height:44px; margin:4px auto; text-align:center; background-image:url(../img/listname_bg.gif);}

#bottom{width:100%; min-height:120px;  background:#e7e2de; text-align:center; clear:both; margin-top:20px 0 0 0;  font-size:11px;}
#bottom p{line-height:180%; text-align:center;  }
.bottom_menu_line{background:#cbc9c5; width:100%; height:30px; margin:0 0 8px 0;}
.bottom_div{margin:4px auto; width:950px; height:30px; line-height:30px; text-align:right; color:#999999; font-size:12px;}
.bottom_div a{padding:2px 8px; color:#666666;}

.line-height{line-height:40px; margin-left:45px !important; margin-left:25px; padding-top:2px; width:120px; text-align:left;}
.line-heightr{height:40px; width:120px; line-height:40px; }
.line-heightr select{margin-top:10px;}
.line96{width:96%; margin:4px auto; clear:both;}
.line96 ul{ margin:4px; margin-left:15px;}
.listr{float:right; width:82%; clear:both; border-bottom:#e7e3dd solid 1px; margin-right:20px;}
.listr2{float:right; width:82%; clear:both; border-bottom:#e7e3dd solid 1px; margin-right:20px; background-color:#f7f5f2;}
.line94{width:94%; margin:4px auto; clear:both; border-bottom:#86ad53 solid 1px;}

.profile_line{width:500px; margin:4px auto; clear:both;}
.profile_line dt{width:100px; float:left; font-weight:bold; height:28px; text-align:right;}
.profile_line dd{width:350px; float:left;  height:28px; clear:right;}
/***************/

.labelwidth li label{width:100px; float:left; padding-right:12px; text-align:right; color:#000000;}
.border_line{border:#eed97c solid 1px;  background-color: #fffceb; margin:4px; padding:4px; width:95%; margin:0 auto;}

/**********************/
.line_title{margin:8px auto; padding:4px; text-align:center; width:92%; height:auto; font-size:16px; font-weight:bold; border-bottom:#eed97c solid 1px;}
.line_picture{margin:8px auto; padding:4px; text-align:center; width:92%; height:auto; }

#replayinputtext{display:none;}
#allertidtext{color:red; font-weight:bold;}

.catalog{margin:4px; line-height:24px; padding:2px; height:auto; width:120px; overflow:hidden; text-align:left; float:left;}



/****/
#shareit-box {position:absolute;	display:none; z-index:999;}
#shareit-header {width:138px;	}
#shareit-body {	width:138px; height:100px;	background:url(../../img/shareit.png);	}
#shareit-blank {height:12px;	}
#shareit-url {	height:40px;	text-align:center;	font-size:14px;	line-height:24px;}
#shareit-url input.field{	width:55px; height:20px; margin:3px auto;font-size:12px;	}
#shareit-icon  {	height:28px; text-align:center; width:100%;}	
#shareit-icon  a{height:20px; text-align:center; width:20px; padding:0 2px; font-weight:bold; font-size:14px; margin:2px 8px; border:#ddd solid 1px; color:#666}	


/*****/
.leibie{
	width:100%;	margin:0 auto;padding:0;	background:#fff; border-bottom:1px solid #156fb4; overflow:hidden;} 
.leibie_left{ width:60px; height:auto; text-align:right;line-height:25px; text-indent:10px; font-size:14px; color:#af0101; font-weight:bold; display:block; float:left}
.leibie_right{padding-top:5px; width:660px; height:auto; line-height:25px; display:block; float:left}
.leibie_right dl{ margin:0 ; padding:0}
.leibie_right dl dd{
	width:83px;	height:25px; text-align:left; overflow:hidden; margin:0;float:left; padding:0 5px
}
.leibie_right dl dd a{padding:2px 5px;}
.leibie_right dl dd a:hover{ padding:2px 5px;}
.leibie_right .a_hover{ padding:2px 5px; background-color:#156fb4; color:#fff}